@layer base {

  ::selection {
    @apply bg-primary-400 text-gray-900;
  }

  *:focus-visible {
    @apply outline-none ring-2 ring-primary-400;
  }

  body {
    overflow: hidden;
    min-height: 100vh;
    transition: color 0.5s, background-color 0.5s;

    /* font */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

}